######################
# Eclipse
######################
 
src/util/DBUtil.java
WebContent/WEB-INF/lib/
build/classes/controller/*.class
build/classes/dao/*.class
build/classes/model/*.class
build/classes/util/*.class
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

# Testing environment specific
derby.log


