html {
  overflow-x: hidden; }

body {
  background: #fff;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  color: #6f6f6f;
  }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5 {
  line-height: 1.5;
  font-weight: normal;
  color: #000; }
  
 .modal {
    display: block; 
    position: absolute; 
    z-index: 1;  */
    left: 0;
    top: 0;
    bottom:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-image: url(../images/bg1.png);/* Black w/ opacity */
    /* padding-top: 60px; */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    overflow:auto;
    width: 50%;
    margin-top: 60px;
    height:50%;
  		 /* Could be more or less, depending on screen size */
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
 
 input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


.probootstrap-nav {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }
  .probootstrap-nav .site-brand {
    font-size: 20px; }
    .probootstrap-nav .site-brand a {
      color: #fff; }
  .probootstrap-nav .probootstrap-toggle {
    color: #fff !important;
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 20px; }
  .probootstrap-nav .probootstrap-main-nav {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .probootstrap-nav .probootstrap-main-nav ul {
      padding: 0;
      margin: 0; }
      .probootstrap-nav .probootstrap-main-nav ul li {
        display: inline;
        list-style: none; }
        .probootstrap-nav .probootstrap-main-nav ul li a {
          padding: 10px;
          color: rgba(255, 255, 255, 0.5); }
        .probootstrap-nav .probootstrap-main-nav ul li.seperator {
          position: relative; }
          .probootstrap-nav .probootstrap-main-nav ul li.seperator:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background: rgba(255, 255, 255, 0.1); }
    @media screen and (max-width: 768px) {
      .probootstrap-nav .probootstrap-main-nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        height: 100vh;
        background: black;
        width: 300px;
        right: 0;
        top: 0;
        padding-top: 50px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        z-index: 1; }
        .probootstrap-nav .probootstrap-main-nav.active {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
          transform: translateX(0%); }
        .probootstrap-nav .probootstrap-main-nav ul li {
          display: block;
          padding: 10px; }
          .probootstrap-nav .probootstrap-main-nav ul li a:hover {
            color: #fff; } }

.bg-image, .probootstrap-cover, .probootstrap-img-item > div, .probootstrap-section-feature {
  background-size: cover;
  background-repeat: no-repeat; }

.probootstrap-cover {
  background-image: url(../images/bg1.png);
  background-position: center center; }
  .probootstrap-cover .probootstrap-text .probootstrap-heading {
    font-size: 70px;
    line-height: 1; }
  .probootstrap-cover .probootstrap-text .probootstrap-subheading p {
    color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 768px) {
    .probootstrap-cover .btn {
      width: 100% !important;
      border: 1px solid red; } }

.btn {
  border-radius: 40px;
  padding: 20px 30px;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #28CC9E;
    border-color: #28CC9E;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      background: #4bdcb3; }
  .btn.btn-outline-white {
    border-color: #fff;
    background: none; }
    .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
      background: #fff;
      color: #000; }

.form-control {
  border: 2px solid #ccc;
  height: 55px; }
  .form-control:focus, .form-control:active {
    border: 2px solid #000; }

textarea {
  height: inherit !important; }

.probootstrap-vh-100 {
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .probootstrap-vh-100 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.probootstrap-vh-75 {
  height: 75vh; }
  @media screen and (max-width: 768px) {
    .probootstrap-vh-75 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.bg-primary {
  background: #28CC9E !important; }

.probootstrap-section,
.probootstrap-footer {
  padding: 0.75em 0; }

.probootstrap-footer {
  background: #000;
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1; }
  .probootstrap-footer a {
    color: #fff; }
    .probootstrap-footer a:hover {
      color: #28CC9E; }
  .probootstrap-footer .probootstrap-heading {
    color: #fff;
    font-size: 24px; }
  .probootstrap-footer .probootstrap-heading-2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase; }

.probootstrap-item {
  display: block; }

.probootstrap-image-grid > div {
  padding-left: 0;
  padding-right: 0; }
  .probootstrap-image-grid > div > div {
    padding-left: 0;
    padding-right: 0; }

.probootstrap-img-item {
  display: block;
  position: relative;
  overflow: hidden; }
  .probootstrap-img-item .icon {
    position: absolute;
    color: #fff;
    z-index: 9;
    top: 50%;
    font-size: 30px;
    margin: 20px 0 0 0;
    padding: 0;
    line-height: 0;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .probootstrap-img-item > div {
    height: 280px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
    @media screen and (max-width: 1140px) {
      .probootstrap-img-item > div {
        height: 200px; } }
    @media screen and (max-width: 576px) {
      .probootstrap-img-item > div {
        height: 280px; } }
    .probootstrap-img-item > div:before {
      -webkit-transition: .5s all ease;
      -o-transition: .5s all ease;
      transition: .5s all ease;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden; }
  .probootstrap-img-item:hover .icon {
    margin-top: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible; }
  .probootstrap-img-item:hover > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .probootstrap-img-item:hover > div:before {
      opacity: 1;
      visibility: visible; }

.probootstrap-section-feature {
  background-image: url(../images/cover_bg.svg);
  background-position: center center; }
  .probootstrap-section-feature .probootstrap-heading {
    color: #fff; }
  .probootstrap-section-feature .probootstrap-device {
    top: 0;
    position: absolute;
    max-width: 470px; }
    @media screen and (max-width: 768px) {
      .probootstrap-section-feature .probootstrap-device {
        position: relative;
        top: inherit;
        margin-bottom: -330px; } }
  .probootstrap-section-feature h3 {
    color: #fff; }
  .probootstrap-section-feature p {
    color: rgba(255, 255, 255, 0.4); }

.probootstrap-navabr-dark {
  background: rgba(0, 0, 0, 0.2) !important;
  position: absolute;
  z-index:1;
  left: 0;
  right: 0; }
  @media screen and (max-width: 960px) {
    .probootstrap-navabr-dark {
      background: #000 !important;
      top: 0;
      position: relative; } }
  .probootstrap-navabr-dark .navbar-nav > .nav-item > .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (max-width: 960px) {
      .probootstrap-navabr-dark .navbar-nav > .nav-item > .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px; } }
  .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-cta a {
    color: #fff; }
  .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
    @media screen and (max-width: 960px) {
      .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator {
        padding-left: 0;
        margin-left: 0; } }
    .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator:before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 2px;
      background: rgba(255, 255, 255, 0.05); }
      @media screen and (max-width: 960px) {
        .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator:before {
          display: none; } }

      
.media .probootstrap-icon {
  width: 100px; }
  .media .probootstrap-icon span {
    color: #28CC9E; }

.probootstrap-overflow-hidden {
  overflow: hidden; }
